     <!-- Footer Section -->
<footer class="footer" >
   <section class="hero-left-noborder container">
        <h1 class="heading">y!on8 <span style="font-weight: 300; color:var(--secondary-text)">(Yes, I'm on it!)</span></h1><Br>
        <p class="tagline">
       <strong>y!on8</strong> <i>(formerly known as taskPilot)</i> - A unified internal workflow platform purpose-built to simplify and automate resource access, request management, and internal operations across teams. Designed with scalability and role-based control in mind, <strong>y!on8</strong> empowers organizations to centralize requests, streamline approvals, and improve accountability—all within a secure, cloud-native environment.
        </p>
        <p class="tagline">
            Whether it's accessing internal tools, submitting marketing content briefs, or returning IT assets, <strong>y!on8</strong> provides a modular suite of apps tailored to real-world enterprise needs.
        </p>
       
    </section>
  <div class="footer-content" >
       <!-- Project Information -->
    <div style="" class="f-col-1">
          <p><img src="img/logo-sym-2t.svg" alt=""></p>
      <ul>
    
        <li class="des">Designed and Developed by: Joseph Sabana</li>
      </ul>
    </div>
  </div>
  <!-- Bottom Legal Line -->
 <!-- Bottom Legal Footer Line -->
<div class="btm-legal" >
  <div class="btm-text" >
    <!-- Left side: Legal Text and Links -->
    <div class="btm-text-left" >
      <span>&copy; 2025 All rights reserved.</span>
    
    </div>
    <!-- Right side: Country -->
    <div class="btm-text-right" >
      <span><img src="img/au.svg" width="20px" alt=""> Australia</span>
    </div>

  </div>
</div>
</footer>