<!DOCTYPE html>
<html lang="en" data-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YesOnIt! Access Manager</title>
    <meta name="description" content="YesOnIt - Tool Content Development">
    <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Content Development, Tool Access Management">
    <meta name="author" content="JosephSabana">
    <meta property="og:image" content="img/cover.png">
    <meta property="og:title" content="YesOnIt">
    <meta property="og:description" content="YesOnIt - Tool Content Development">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link href="/css/new-styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
   </head>
   <body>
    <div class="main-con">
     <%- include('partials/header') %>
<div style="height: 150vh!important;">
 <section class="section container">
  <!--Content-->
  <!-- main content card -->
 <div class="container-form">

    <h1 class="heading">Add Tool</h1> 
      <% if (error) { %>
        <div style="color: red; font-weight: bold;"><%= error %></div>
      <% } %>
      
      <% if (success) { %>
        <div style="color: green; font-weight: bold;"><%= success %></div>
      <% } %>
    
      <form action="/create-tool" method="POST">
        <div class="input-group">
            <label  for="toolName">Tool Name</label>
          <input  type="text" name="toolName" required >
        
       </div>

       <div class="input-group">
              <label  for="pointOfContact">POC</label>
        <input  type="text" name="pointOfContact" required >
  
     </div>

     <div align="center" class="spacer-100"> 
      <div class="spacer-100"></div> 
      <button class="btn cancel" onclick="location.href='/home';">Go Back</button>  <button class="btn submit"  type="submit">Add Tool</button>
  </div>


      
      </form>
    


		
		
		
	

	
    </div>
      


    
                  <!--End of Content-->
</section>

</div>
  <%- include('partials/footer') %>
</div>
    <script src="/js/theme.js"></script>
     <script src="/js/scripts.js"></script>
  
</body>
</html>
    
             
      