@charset "UTF-8"; /* CSS Document */ 

.workflow-body { font-size: 16px; }
.workflow-body p { font-size: 16px; }
.boxshadow { box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
.blink { animation: blinker 1s linear infinite; }
@keyframes blinker { 50% { opacity: 0; }
 }
[class*="dash-red"]:after { content: ''; display: block; width: 20px; height: 3px; margin: 0.2em 0 .5em; background: #009CBD; }
.column-main-grid { /* flex: 18%; max-width: 100%; border-radius: 4px; */ flex: 18%; /* This ensures the columns maintain their width and can shrink/grow if needed */ max-width: 100%; /* Ensures that the columns do not exceed 18% width */ border-radius: 0px; transition: width 0.3s; /* Smooth transition when width changes */ }
 .cursor { cursor: pointer; }
.grid-row { display: flex; flex-wrap: wrap; transition: width 0.3s; width: 100%; }
.new-container { display: flex; justify-content: space-between; width: 100%; margin-top: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 10px; /* flex-wrap: wrap; */ 




}
.column { box-sizing: border-box; width: 100%; }
.column-1 { flex: 0 0 38%; }
.column-2 { flex: 0 0 17%; }
.column-3 { flex: 0 0 45%; }
.maincontainer { width: 80%; margin: 0 auto; min-height: 200px; border-radius: 4px; }
.coltitle { padding-left: 10px; vertical-align: bottom; padding: 8px; }
.col-pad { padding: 5px; }
.bg-teal1 { background-color: #009cbd; }
.bg-teal2 { background-color: #00bed5; }
.bg-teal3 { background-color: #D9F6FA; }
.bg-white { background-color: #fff; }
.bg-fafafa { background-color: #fafafa; }
.bg-highlight { background-color: #f0f2f0; }
.bg-darkgray { background-color: #333; }
.bordernone { border: 0px; }
/* radio container */ .radioexpcollcontainer { display: inline-flex; align-items: center; justify-content: center; /* border-bottom: 1px solid #999; */ position: relative; padding-left: 35px; padding-right: 20px; margin-bottom: 12px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #333; height: 30px; /* Adjusted height */ line-height: 30px; /* Adjusted line-height to match height */ }
.radioexpcollcontainer input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */ .expcheckmark { position: absolute; top: 50%; left: 10px; /* Adjusted left for better positioning */ transform: translateY(-50%); height: 15px; width: 15px; background-color: #fff; border-radius: 50%; }
/* On mouse-over, add a grey background color */ .radioexpcollcontainer:hover input~.expcheckmark { background-color: #ccc; }
/* When the radio button is checked, add a blue background */ .radioexpcollcontainer input:checked~.expcheckmark { background-color: #666666; }
/* Create the indicator (the dot/circle - hidden when not checked) */ .expcheckmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */ .radioexpcollcontainer input:checked~.expcheckmark:after { display: block; }
/* Style the indicator (dot/circle) */ .radioexpcollcontainer .expcheckmark:after { top: 3.5px; left: 3.5px; width: 8px; height: 8px; border-radius: 50%; background: #666666; }
.hide { display: none; }
.excolcontent { display: none; }
.radiocontainer { display: block; position: relative; padding-left: 25px; margin-top: 8px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* Hide the browser's default radio button */ .radiocontainer input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */ .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #cbd1d8; border-radius: 50%; }
/* On mouse-over, add a grey background color */ .radiocontainer:hover input~.checkmark { background-color: #9faab7; }
/* When the radio button is checked, add a blue background */ .radiocontainer input:checked~.checkmark { background-color: var(--pteal2); }
/* Create the indicator (the dot/circle - hidden when not checked) */ .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */ .radiocontainer input:checked~.checkmark:after { display: block; }
/* Style the indicator (dot/circle) */ .radiocontainer .checkmark:after { top: 1px; left: 1px; width: 12px; height: 12px; border-radius: 50%; -webkit-animation: click-wave 0.65s; -moz-animation: click-wave 0.65s; animation: click-wave 0.65s; background: var(--pteal2); }
.sgscripts { font-style: italic; border: 1px dotted #cccccc; border-radius: 4px; padding: 10px; }
.analyst { color: darkred; }
.dbverify { background-image: url("../img/verify.png"); background-repeat: no-repeat; background-size: 20px; background-position: 10px center; }
.dothis { background-image: url("../img/dothis.svg"); background-repeat: no-repeat; background-size: 20px; background-position: 10px center; }
.chatbox { background-color: #B2EBF2; color: #333; padding: 8px 8px; border-radius: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
.chatbox-w { background-color: #B2EBF2; color: #333; padding: 2px 8px; border-radius: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
.impt-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.alert-red-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }



.title { border-bottom: 1px solid #eee; margin-top: 20px; }
.spacer { height: 20px; }
.faq-label a { color: #316bbe; text-decoration: none; }
.faq-label { height: 33px; line-height: 35px; text-align: center; color: #316bbe; cursor: pointer; cursor: hand; border-bottom: 1px solid #ccc; min-width: 15px; z-index: 556; /* cursor: hand; pointer:hand; */ margin-left: 5px; margin-top: 0px; display: inline-block; }
.faq-label:hover { border-bottom: 3px solid #316bbe; }
.link a { color: #316bbe; text-decoration: none; }
.link { text-align: center; color: var(--link); cursor: pointer; cursor: hand; border-bottom: 1px solid #ccc; min-width: 15px; z-index: 556; /* cursor: hand; pointer:hand; */ margin-left: 0px; display: inline-block; background: url("../img/svg/link.svg"); background-repeat: no-repeat; padding-right: 17px; background-size: 13px; background-position: right center; }
.link:hover { border-bottom: 1px solid #316bbe; }
#faq2 { display: none; }
.bg-darkorange { background-color: #EB4600; }
.bg-button { background-color: #0072a6; }
.link-button { height: 35px; line-height: 22px; padding: 5px 10px; color: #fff; cursor: pointer; cursor: hand; border-radius: 99px; text-align: center; width: 90px; background-color: #333; z-index: 556; /* cursor: hand; pointer:hand; */ margin-top: 10px; margin-bottom: 10px; }
.link-button:hover { opacity: .9; }
.loq { margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px; font-weight: 600; }
.faq { text-align: left; margin-bottom: 20px; background-color: #f5f5f5; }
.faq-desc-tile { margin-top: 30px; margin-bottom: 10px; text-transform: uppercase; border-bottom: 1px solid #999; height: 20px; }
.faq-desc { padding-top: 4px; width: 93%; margin: 0 auto; margin-top: 15px; position: relative; }
.faq-desc:after { content: ''; position: absolute; top: 0; left: 30px; width: 0; height: 0; border: 10px solid transparent; border-bottom-color: #aaa; border-top: 0; margin-left: 2px; margin-top: -7px; }
.bg-darkblue { background-color: #002677; }
.text-white { color: #fafafa !important; }
.text-dark { color: #333 !important; }
.faq-section { color: #333; }
.expcoll { margin-right: 20px; height: 25px; }
.tbbutton a { color: #aaa !important; }
.tbbutton { opacity: 1; font-weight: 400; text-decoration: none; text-align: center; color: #333; height: 35px; line-height: 35px; min-width: 90px; padding: 0px 10px; border-radius: 4px; display: inline-block; margin-top: 15px; border: 1px solid #fafafa; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); }
.stcollb:before { content: '\21C8'; margin-right: 5px; }
.stexpab:before { content: '\21CA'; margin-right: 5px; }
.scriptcontainer { display: flex; flex-direction: column; }
.scriptrow { display: flex; margin-bottom: 10px; }
.scriptperson { width: 20%; font-weight: bold; color: red; }
.scriptperson-caller { width: 20%; font-weight: bold; color: #333; }
.scriptdialogue { width: 80%; font-style: italic; color: red; }
.scriptdialogue-caller { width: 80%; font-style: italic; }
.versioncontainer { display: flex; flex-direction: column; }
.versionrow { display: flex; margin-bottom: 10px; border-bottom: 1px solid #eee; }
.versioncolumn { flex: 1; }
.versioncolumn-2 { flex: 0 0 50%; }
.versionnumber { font-weight: bold; color: #333; }
.versiondetails { width: 100%; color: #999; }
.versiondetails-2 { width: 100%; color: #999; }
.bg-sky2 { background-color: #B2EBF2; }
.bg-warmwhite { background-color: #F5F5F5; }
.x-footer { position: fixed; height: 50px; width: 100%; bottom: 0; background-position: bottom center; z-index: 9999; margin-top: 90px; }
.x-foot-1 { width: 320px; margin-bottom: 0px; position: relative; }
.return-btn { height: 50px; width: 70px; line-height: 50px; float: left; background-image: url("../img/home.svg"); background-repeat: no-repeat; background-size: 17px; background-position: 30px center; background-color: #003366; border-radius: 10px 0px 0px 0px; }
.showall-btn { height: 50px; line-height: 50px; width: 110px; background-color: #0072a6; float: left; color: #fff; text-align: center; }
.top-btn { height: 50px; width: 70px; line-height: 50px; float: left; background-image: url('../img/backtotop.svg'); background-repeat: no-repeat; background-size: 20px; background-position: center; background-color: #333; border-radius: 0 10px 0 0; }
.send-btn { height: 50px; width: 70px; line-height: 50px; float: left; background-image: url('../img/refresh.svg'); background-repeat: no-repeat; background-size: 24px; background-position: center center; background-color: #555; }
.close-btn:hover { cursor: hand; cursor: pointer; }
.return-btn:hover, .showall-btn:hover, .top-btn:hover, .send-btn:hover, .mobile-btn:hover, .close-btn:hover { cursor: hand !important; cursor: pointer; background-color: #003366; transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -webkit-transition: all 1s; }
.impt { color: red; }
.tnscoltitle { height: 40px; line-height: 40px; color: #fff; margin-bottom: 20px; padding: 4px 5px 4px 10px; border-radius: 4px 4px 0 0; }
.tnscol-pad { margin: 5px; }
.flowname { margin-bottom: 8px; }
.excolcontent { }
.bg-white-80 { background-color: #ffffff80; }
.width-80 { width: 80%; }
.width-90 { width: 90%; }
.width90 { width: 90%; margin-left: 15px; }
.width80 { width: 80%; }
.content { width: 95%; margin: 10px auto; }
.content-pop { width: 97%; margin: 10px auto; border-radius: 8px; border-bottom: 4px solid #333; border-left: 1px solid #333; border-right: 1px solid #333; border-top: 1px solid #333;  }
.bubcontent { margin-left: 35px; margin-top: 10px; line-height: 20px; width: auto; margin-right: 10px; }
.bubblecon { color: #333; width: 100%; z-index: 7; }
.audioplay { margin-top: 10px; margin: 0 auto; align-content: center; text-align: center; }
.tnscontent { margin: 20px; }
.wf-button { cursor: pointer; display: inline-block; text-align: center; white-space: nowrap; line-height: 1.17648; font-weight: 400; letter-spacing: -.022em; min-width: 28px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 980px; color: #fff; }
.item-link { margin-top: 10px; margin-bottom: 10px; min-height: 30px; border-bottom: 1px solid #eee; }
.bubbletitle { padding-left: 10px; margin-top: 10px; height: 30px; border-bottom: 1px solid #333; }
.alert { padding: 5px 5px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 4px; width: 97%; margin-top: 10px; margin-bottom: 10px; }
.alert-red { padding: 10px 10px 10px 35px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 4px; width: 100%; margin-top: 10px; margin-bottom: 10px; }
.alert-ask { padding: 0px 8px; background-color: #FBF9F4; color: #333; border: 1px solid #C25608; border-radius: 4px; width: 97%; margin-top: 10px; margin-bottom: 10px; background-image: url("../img/svg/person.svg"); background-repeat: no-repeat; padding-left: 33px; background-size: 20px; background-position: 8px 10px; text-align: left !important; }
.alert-ask p { margin: 4px; }
.alert-2 { padding: 10px; background-color: #009cbd; color: #fff; border: 1px solid #eee; border-radius: 4px; margin-top: 10px; }
.bg-sky { background-color: #dbf1f6; }
.glass-box { background-color: #fafafa20; /* background-color: rgba(255, 255, 255, 0.25); /* Adjust opacity as needed backdrop-filter: blur(10px); /* Adds blur effect */ }
.backdrop-blur { backdrop-filter: blur(10px); /* Adds blur effect */ background-color: rgba(0, 51, 102, 0.6); }
.hidden { opacity: 0; transition: opacity 1s ease; }
.visible { opacity: 1; transition: opacity 1s ease; }
.annoucements { min-height: 40px; width: 100%; background-color: #eee; ; overflow: hidden; padding-left: 10px; opacity: .6; display: none; }
.btn-con { padding-left: 10px; margin-bottom: 15px; }
.img-link { background: url("../img/svg/link.svg"); background-repeat: no-repeat; padding-left: 16px; background-size: 13px; background-position: 0px 12px; text-align: left !important; }
.dev-label { font-style: italic; font-weight: 100 !important; text-transform: uppercase; color: tomato; }
.text-red { color: red; }
.tag-coach { background-color: tomato; width: 60px; color: #fff; height: 20px; line-height: 20px; border-radius: 99px; text-align: center; display: inline-grid; margin-right: 10px; }
.checkmark-list { list-style: none; padding: 0; margin: 15px 0 0 0; }
.checkmark-list li { position: relative; padding-left: 35px; margin-bottom: 10px; }
.checkmark-list li:before { content: ''; position: absolute; left: 10px; top: 0; width: 20px; height: 20px; background: url('../img/dothis.svg') no-repeat center center; background-size: contain; }
.checkmark-list-warning { list-style: none; padding: 0; margin: 15px 0 0 0; }
.checkmark-list-warning li { position: relative; padding-left: 35px; margin-bottom: 10px; }
.checkmark-list-warning li:before { content: ''; position: absolute; left: 10px; top: 0; width: 18px; height: 18px; background: url('../img/impt.png') no-repeat center center; background-size: contain; }

.dropbtn { color: white; height: 30px; width: 100px; line-height: 10px; border: none; cursor: pointer; }
.dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 1; }
.dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; }
.dropdown-content a:hover { background-color: #f1f1f1; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #333; }
.dropdown-icon { margin-left: 10px; /* Adjust the spacing as needed */ }
.stop-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.note-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.locate-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.next-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.person-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.check-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.verify-icon { position: relative; padding-left: 32px; margin-bottom: 10px; }
.stop-icon:before { content: ''; position: absolute; left: 8px; top: 15px; width: 20px; height: 20px; background: url('../img/donot.png') no-repeat center center; background-size: contain; }
.note-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 18px; height: 18px; background: url('../img/svg/pen.svg') no-repeat center center; background-size: contain; }
.locate-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 18px; height: 18px; background: url('../img/svg/locate.svg') no-repeat center center; background-size: contain; }
.next-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 18px; height: 18px; background: url('../img/svg/enter.svg') no-repeat center center; background-size: contain; -webkit-transform: scaleX(-1); transform: scaleX(-1); }
.person-icon:before { content: ''; position: absolute; left: 5px; top: 0px; width: 25px; height: 25px; background: url('../img/svg/person.svg') no-repeat center center; background-size: contain; }
.check-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 20px; height: 20px; background: url('../img/svg/checkmark.svg') no-repeat center center; background-size: contain; }
.verify-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 20px; height: 20px; background: url('../img/verify.png') no-repeat center center; background-size: contain; }
.impt-icon:before { content: ''; position: absolute; left: 8px; top: 0px; width: 20px; height: 20px; background: url('../img/svg/alert.svg') no-repeat center center; background-size: contain; }

.alert-red-icon:before { content: ''; position: absolute; left: 8px; top: 10px; width: 20px; height: 20px; background: url('../img/svg/alert.svg') no-repeat center center; background-size: contain; }
.alert-tip-icon:before { content: ''; position: absolute; left:-10px; top: -10px; width: 30px; height: 30px; background: url('../img/impt.png') no-repeat center center; background-size: contain; }
.alert-remember-icon:before { content: ''; position: absolute; left:-10px; top: -10px; width: 30px; height: 30px; background: url('../img/svg/remember.svg') no-repeat center center; background-size: contain; }


.first-item { background-color: #fafafa; }
.category-title { color: #595656; }
.bg-clover { background-color: #90BC53; }
.bg-marigold { background-color: var(--clover); }
.bg-steelblue { background-color: #4682B4; }
.bg-lightgray { background-color: #413E3E; }
.bg-slategray { background-color: #6F7B88; }
.spacer-100 { height: 100px; }
.spacer-50 { height: 50px; }
.spacer-200 { height: 200px; }
.notification-icon { position: relative; display: inline-block; }
.icon { }
.markdown { position: inherit; top: -10px; right: 0px; color: #333; border-radius: 50%; padding: 4px; }
.sticky-container { display: none; position: fixed; bottom: 0px; /* Adjust as needed */ right: 0px; background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 4px; }
textarea { width: 100%; height: 100px; margin-top: 10px; }
.spacer-200 { height: 300px; }
.icon-stop { background-image: url("../img/impt_1.png"); background-repeat: no-repeat; background-size: 18px; background-position: left; padding: 10px; display: inline; margin-right: 3px; }
.num ol { padding: 0; margin-left: 5px; position: relative; }
.num ol::before { content: ''; width: 0.5rem; height: 100%; position: absolute; top: 0; left: 8%; z-index: -1; }
.num li { padding: 0px; border-radius: 1.5rem; color: #555555; width: 100%; margin-left: -15px; }
.num li+li { margin-top: 0.5rem; }
.num ::marker { color: #444444; }
.bg-analyst { background-color: #90BC53; }
.col-container { display: flex; margin: 9px auto; border-bottom: 1px solid #eee; padding-left: 5px; }
.col-container:hover { background-color: #eee; }
.column-60 { width: 70%; }
.column-20 { width: 15%; text-align: right; }
.tsg-content { width: 90%; margin: 0 auto; }
/* .imptstatus { background-color: #FF612B; border-radius: 99px; width: 10px; height: 10px; display: inline-block; margin-right: 3px; }
@keyframes shadow-pulse { 0% { box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
100% { box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); }
 }
.pulseeffect-infi { animation: shadow-pulse 1s infinite; -webkit-animation: shadow-pulse 1s infinite; -moz-animation: shadow-pulse 1s infinite; }
.pulseeffect-1s { -webkit-animation: shadow-pulse 1s; -moz-animation: shadow-pulse 1s; animation: shadow-pulse 1s; }
.pulseeffect-1s-3 { -webkit-animation: shadow-pulse 1s 3; -moz-animation: shadow-pulse 1s 3; animation: shadow-pulse 1s 3; }
*/ .end { border-bottom: 4px solid #333; }
#end { margin-top: 40px; height: 60px; }
.h-container { display: flex; width: 100%; /* flex-wrap: wrap; justify-content: space-between; */ }
.h-column { padding: 10px; box-sizing: border-box; width: 100%; }
.h-column-1 { flex: 0 0 40%; }
.h-column-2 { flex: 0 0 60%; }
.h-content { margin-top: 10px; }
.h-content ul { list-style-type: none; /* Remove default bullets */ padding-left: 0; }
.h-content ul li { position: relative; padding-right: 25px; /* Add padding to make space for the icon */ margin-top: 2px; border-bottom: 1px solid transparent; }
.h-content ul li:hover { border-bottom: 1px dotted #aaa; }
.h-content ul li::after { content: url('../img/svg/arrow-fwd.svg'); /* Link to the SVG icon */ position: absolute; right: 0; top: 10px; transform: translateY(-50%); /* Center the icon vertically */ width: 16px; /* Adjust width as needed */ height: 16px; /* Adjust height as needed */ }
.h-content-desc { margin-top: 5px; padding-bottom: 10px; }
.h-content ul li a { text-decoration: none; color: rgb(50, 51, 52) !important; }
.h-content ul li a:hover { color: #333 !important; }
.h-flowtitle { color: #002677; }
.h-link-con { margin-top: 5px; }
.o-logo { background-image: url("../img/optum_logo_ora_rgb.png"); background-position: left center; background-repeat: no-repeat; background-size: 150px; width: 190px; height: 100px; }
.status { display: inline; padding: 2px 8px; background-color: slategray; border-radius: 90px; color: #fafafa; margin-left: 8px; }
.bg-alert { background-color: #fbd9d3; }
.bg-no { background-color: #fbd9d3; }
.bg-no { background-color: #fbd9d3; }
.bubbledesc { margin-top: 20px; padding-right: 10px; width: 95%; }

.bubbledesc ul {
	margin-left: 20px;
}
.content-instruction {
	margin-top: 20px;
	padding-right: 10px;
	width: 98%;

}

.resetdiv { margin-top: 150px; margin-bottom: 100px; text-align: right; width: 100%; position: relative;}

.workflow-version2 { margin: 0 auto; position: relative; min-height: 500px;  }
.workflow-version2 .workflow-step { border: 1px solid #ddd; padding: 20px; border-radius: 6px; margin-bottom: 15px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); }
.workflow-version2 .step-question { font-weight: bold; }
.workflow-version2 .buttons { margin-top: 10px; }
.workflow-version2 .buttons button { margin-right: 10px; padding: 8px 16px; font-size: 14px; border: none; border-radius: 4px; cursor: pointer; }
.workflow-version2 .buttons:hover { opacity: .9; }
.workflow-version2 .yes { background-color: #4CAF50; color: white; }
.workflow-version2 .no { background-color: #f44336; color: white; }
.workflow-version2 .next-step { margin-top: 10px; font-style: italic; color: #333; }
.workflow-version2 .hidden { display: none; }
.workflow-version2 .progress { margin-bottom: 20px; margin-top: 20px; text-align: right; font-weight: bold; }
.workflow-version2 #resetBtn { margin-top: 20px; padding: 10px 20px; font-size: 14px; background-color: var(--gray-600); color: white; border: none; border-radius: 4px; cursor: pointer; }
.workflow-version2 .completed-step { background-color: #eeeeee; }
.workflow-version2 .current-step { background-color: #ffffff; }

.progressbar-container {
   width: 100%;
   height: 10px;
   background-color: #BDCBD8;
   border-radius: 5px;
    margin-top: 20px;
   margin-bottom: 20px;
}

.progressbar-fill {
   height: 100%;
   width: 0%;
   background-color: var(--pteal1); 
   border-radius: 5px;
   transition: width 0.4s ease;
}

#row2 {
	background-color: var(--wfhighlight);
}