@charset "utf-8";
/* CSS Document */


html, body {
    overscroll-behavior: none;
	
}



.text-break{
 	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." */
}


.bg-pblue1 {
	background-color: var(--pblue1);
}

.bg-pblue2 {
	background-color: var(--pblue2);
}

.bg-pteal1 {
	background-color: var(--pteal1);
}

.bg-pteal3 {
	background-color: var(--pteal3);
}

.bg-pteal2 {
	background-color: var(--pteal2);
}

.bg-pteal4 {
	background-color: var(--pteal4);
}
.bg-grayash {
    background-color: var(--grayash, #6c757d);
}

.bg-gray-dark {
    background-color: var(--gray-dark, #343a40);
}

.bg-myob-p1300 {
    background-color: var(--myob-p1300, #130021);
}

.bg-myob-p1200 {
    background-color: var(--myob-p1200, #1c002f);
}

.bg-myob-p1100 {
    background-color: var(--myob-p1100, #24003d);
}

.bg-myob-p1075 {
    background-color: var(--myob-p1075, #34104c);
}

.bg-myob-p1050 {
    background-color: var(--myob-p1050, #280f39);
}

.bg-myob-p1025 {
    background-color: var(--myob-p1025, #421e5a);
}

.bg-myob-p1000 {
    background-color: var(--myob-p1000, #430071);
}

.bg-myob-p950 {
    background-color: var(--myob-p950, #66308a);
}

.bg-myob-p900 {
    background-color: var(--myob-p900, #6100a5);
}

.bg-myob-p800 {
    background-color: var(--myob-p800, #8118cd);
}

.bg-myob-p700 {
    background-color: var(--myob-p700, #a130f5);
}

.bg-myob-p600 {
    background-color: var(--myob-p600, #bd54fa);
}

.bg-myob-p550 {
    background-color: var(--myob-p550, #c689f2);
}

.bg-myob-p500 {
    background-color: var(--myob-p500, #d878ff);
}

.bg-myob-p400 {
    background-color: var(--myob-p400, #e399ff);
}

.bg-myob-p300 {
    background-color: var(--myob-p300, #efbaff);
}

.bg-myob-p200 {
    background-color: var(--myob-p200, #fadbff);
}

.bg-myob-p100 {
    background-color: var(--myob-p100, #fef0ff);
}

.bg-powderblue {
	background-color: var(--powderblue);
}

.bg-white {
	background-color: var(--white, #FFF);
}
.bg-offwhite {
		background-color: var(--offwhite, #FAF9F6); 
}
.bg-snowwhite {
		background-color: var(--snowwhite); 
}
.bg-warmwhite {
	background-color: var(--warmwhite, #FBF9F4)
}
.bg-ghostwhite {
		background-color: var(--ghostwhite); 
}

.text-pblue1 {
	color: var(--pblue1);
}

.text-pblue2 {
	color: var(--pblue2);
}

.text-pteal1 {
	color: var(--pteal1);
}

.text-pteal3 {
	color: var(--pteal3);
}

.text-pteal2 {
	color: var(--pteal2);
}

.text-pteal4 {
	color: var(--pteal4);
}

.text-pgray1 {
	color: var(--pgray1);
}

.text-grayash {
    color: var(--grayash, #6c757d);
}

.text-gray1 {
    color: var(--gray1, #222222);
}

.text-gray2 {
    color: var(--gray2, #444444);
}

.text-gray3 {
    color: var(--gray3, #636363);
}

.text-gray4 {
    color: var(--gray4, #959595);
}

.text-gray5 {
    color: var(--gray5, #B3B3B3);
}

.text-gray6 {
    color: var(--gray6, #E0E0E0);
}

.text-gray7 {
    color: var(--gray7, #F5F5F5);
}

.text-gray8 {
    color: var(--gray8, #F9F9F9);
}

.text-gray-dark {
    color: var(--gray-dark, #343a40);
}

.text-myob-p1300 {
    color: var(--myob-p1300, #130021);
}

.text-myob-p1200 {
    color: var(--myob-p1200, #1c002f);
}

.text-myob-p1100 {
    color: var(--myob-p1100, #24003d);
}

.text-myob-p1075 {
    color: var(--myob-p1075, #34104c);
}

.text-myob-p1050 {
    color: var(--myob-p1050, #280f39);
}

.text-myob-p1025 {
    color: var(--myob-p1025, #421e5a);
}

.text-myob-p1000 {
    color: var(--myob-p1000, #430071);
}

.text-myob-p950 {
    color: var(--myob-p950, #66308a);
}

.text-myob-p900 {
    color: var(--myob-p900, #6100a5);
}

.text-myob-p800 {
    color: var(--myob-p800, #8118cd);
}

.text-myob-p700 {
    color: var(--myob-p700, #a130f5);
}

.text-myob-p600 {
    color: var(--myob-p600, #bd54fa);
}

.text-myob-p550 {
    color: var(--myob-p550, #c689f2);
}

.text-myob-p500 {
    color: var(--myob-p500, #d878ff);
}

.text-myob-p400 {
    color: var(--myob-p400, #e399ff);
}

.text-myob-p300 {
    color: var(--myob-p300, #efbaff);
}

.text-myob-p200 {
    color: var(--myob-p200, #fadbff);
}

.text-myob-p100 {
    color: var(--myob-p100, #fef0ff);
}




.icon-link > .bi {
  width: .70em;
  height: .70em;
}



p { 
font-size: 16px;
line-height: 1.47059;
font-weight: 400;
letter-spacing: -.022em;
}
	
.spacer {
	height: 10px;
}

.spacer-20 {
	height: 20px;
}
.spacer-30 {
	height: 30px;
}
.spacer-40 {
	height: 40px;
}

.spacer-50 {
	height: 50px;
}

.spacer-100 {
	height: 50px;
}




.container-x {
	margin-top: 8%;
	width: 0 auto;
	background-color: var(--powderblue); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	

}


   .text{
      border:none;
      
      outline: none;
      float: left;
      padding: 0px 10px;
      color: #333;
		  font-weight: 600;
      font-size:16px;
   /*   transition: 0.6s; */
      line-height: 40px;
		  width: 300px;
		  

      text-align: left;

		  
	
	background: none;
	   
}
		
		  

.nav-item {
	font-weight: 600; 

}

.nav-item img {
margin-right: 10px;

}


p {
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word;
    white-space: normal; /* Allow text to wrap */
}
.rounded {
	position: relative;
	border-radius: 13px;
}

.header-x {
	font-size: 10pt;
	color: var(--gray7);
	margin-bottom: 0px;
	/* background-color: var(--myob-p1200); 
	width: 150px;
	padding: 8px;
	margin-left: 20px;
	border-radius: 0px 0px 10px 10px;
	text-align: center; */

}



.bi {

	font-size: 1.0rem;
	margin-right: 5px;
		
}

.btn-back {
	    width: 120px;
    background-color: var(--gray5);
	float: right;
}


.search-barx button img {
  width: 20px;
  height: 20px;
}

/* Buttons styling */
.buttons {
  margin-top: 20px;
}

.buttons button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #3c4043;
  margin: 5px;
}

.buttons button:hover {
  background-color: #f1f3f4;
  border: 1px solid #dadce0;
}



.card-container {
	margin-top: 10px;
}

.text-white {
	color: #fafafa;
}

.link-secondary {
	color: #fafafa;
}

.list-group {
            list-style: none;
            padding: 0;
            margin: 15px 0 0 0;
        }

.list-group a {

}


.list-group-item {
            display: flex;
            align-items: center;  /* Align icon and text vertically */
            padding: 10px 5px;
            border-bottom: 1px solid var(--border); /* Optional: Adds a divider */
			font-weight: 600;
			 opacity: 1;
/*    transition: opacity 0.1s ease-in-out; */
	color: var(--pteal2);
        }
.list-group-item:hover {
	opacity: 1;
/*	background-color: var(--gray7); */
	color: var(--pteal1);
	cursor: pointer;

	   /* animation: fadeInOut 1s ease-in-out 1 alternate; */

	
}
@keyframes fadeInOut {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}

        .list-group-item i {
            font-size: 20px;  /* Adjust icon size */
            margin-right: 5px; /* Space between icon and text */
			color: var(--gray4);
        }

.list-group-item a{
	text-decoration: none;
	font-size: 16px;
	
	
}



.w-btn {
	display: inline;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: 7px;
		border: 1px solid var(--pteal2);

}


.w-btn2 {
	display: inline-flex;
	padding: 5px 8px 5px 8px;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	position: relative;
	margin-right: 8px;
	
}




.w-textfield {
	display: inline-flex;
	padding: 8px 8px 8px 10px;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: 8px;
	background-color: var(--gray-50);
	color: #333;
	min-width: 130px;
	font-style: italic;
	  font-family: Arial, Helvetica, sans-serif;
}

.w-link {
	display: inline-flex;
	padding: 8px 8px 8px 10px;
	border-radius: 4px;
	border-bottom: 3px solid var(--gray-300);
	font-size: 14px;
	text-align: center;
	position: relative;
	margin-right: 8px;
	background-color: #fff;

	min-width: 130px;
	  font-family: Arial, Helvetica, sans-serif;
}

.w-textfield-2L {
	display: inline-flex;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;

	position: relative;
	margin-right: 8px;
	background-color: var(--gray7);
	color: var(--gray-500);
	min-width: 130px;
	text-align: left;

}

.w-textfield i {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
	color: var(--gray-300);
	vertical-align: middle;

}



.w-btn-line-header {
	display: inline-flex;
	padding: 5px 8px 5px 8px;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
  text-transform: uppercase;
	font-weight: 600;
	position: relative;
	margin-right: 2px;
	background-color: var(--gray-50);
	color: #333;
	border-bottom: 3px solid var(--gray-50);
	

}

.w-btn-line-header-2 {
  text-transform: uppercase;
	display: inline-flex;
	padding: 8px 8px 8px 8px;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	position: relative;
	margin-right: 2px;
	background-color: var(--gray-50);
	color: #333;
	border-bottom: 3px solid var(--gray-300);
  font-family: Arial, Helvetica, sans-serif;
	

}



.w-subtopic {

	font-size: 16px;

	font-weight: bold;
	padding: 8px 0px;
	border: 0;
	cursor: pointer;
	color:  var(--pteal1);

	padding-left: 0px;
	/*background-color: var(--pteal2); */
	 border-bottom: 1px solid  var(--gray6);
	position: relative;
	opacity: 1;
	  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." */
	
	 /*   transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Smooth fade-in effect */
}
.w-subtopic:hover {
}

.radius-top-only {
	border-radius: 4px 4px 0 0;
}
.radius-bottom-only{
	border-radius:  0 0 4px 4px;
}



.flip-horizontal {
    transform: scaleX(-1)!important;
	 top: 15%!important;
	
  }

.border-radius-4 {
	border-radius: 4px;

}


.w-list-ins {
	margin: 10px 10px;
	position: relative;
	border-radius: 8px;
	
	
}

.w-ec-details {
	margin-top: 0px;
	margin-bottom: 35px;
	border-radius: 0 0 6px 6px;
	background-color: var(--gray6);
	
	border-bottom: 5px solid  var(--pteal1);

}

.w-ec-details-desc a:hover {
	text-decoration: underline
}

.bg-highlight {
	background-color: #CFD6E3;
}
.bg-cyan {
	background-color: var( --cyan, #17a2b8);
}


.w-list img {
	border: 2px solid #ddd;
	border-radius: 8px;
	margin: 10px 0px 20px 0;
}
.padding-10 {
	padding: 10px;

}
.border-radius-8 {
		border-radius: 8px;
}


ol.w-list {
 list-style-type: none;
 list-style-type: decimal !ie; 
 margin: 0;
 margin-left: 0;
 padding: 0; 
 counter-reset: li-counter;
}

ol.w-list > li{
 position: relative;
 margin-bottom: 20px;
	margin-top: 20px;
 padding-left: 0.5em;
	margin-left: 10px;
}

ol.w-list > .w-list-ins{ 
	margin-left: 40px;

}

li, p {
	font-weight: 500;
}


ol.w-list > li:before {
 position: absolute;
 top: 0;
 left: -1em;
 width: 0.8em; 
 font-size: 1.8em;
 line-height: 1;
 font-weight: bold;
 text-align: right;
 color: transparent; /* 17a2b8 */
content: counter(li-counter); /* Format as two digits  content: counter(li-counter, decimal-leading-zero); */
    counter-increment: li-counter; /* Increment the counter */
}

ol.w-list:not(.start3) {
    counter-reset: li-counter 0; /* Start counter from 1 (default) */
}
/* Custom numbering for lists starting at 3 */
ol.w-list.start3 {
    counter-reset: li-counter 2; /* Start counter at 2 so the first item becomes 3 */
}
ol.w-list:not(.start2) {
    counter-reset: li-counter 0; /* Start counter from 1 (default) */
}
/* Custom numbering for lists starting at 3 */
ol.w-list.start2 {
    counter-reset: li-counter 1; /* Start counter at 2 so the first item becomes 2 */
}



 .text-blue 
{
	color: var(--blue, #007bff)
} .text-cyan 
{
	color: var(--cyan, #17a2b8)
}
.text-myob-r {
	
	color: var(--myob-r, #B72990)
}

.text-myob {
	color: var(--myob);
	
}
.bg-myob {
	background-color: var(--myob);
	color: #fff;
}.bg-teal2 {
	background-color: var(--info, #17a2b8);

}

.text-teal2 {
	color: var(--info, #17a2b8);

}



/*
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

*/

.margin-top {
	margin-top: 10px;
}

.tags {
	background-color: #eee;
	padding: 5px;
	display: inline-flex;
	border-radius: 99px;
	font-size: 15px;
	font-weight: bold;
	
}

.click-cursor {
	border: none;
	position: absolute;
	bottom: -10px;
	right: 0px;
	background-image: url("../img/cursor.svg");
	background-position: top left;
	background-size: cover;
	opacity: .5;
	width: 18px;
	height: 18px;
	z-index: 0;
}

.hand:after {
	border: none;
	position: absolute;
	bottom: -16px;
	right: 0px;
	background-image: url("../img/hand-pointer.svg");
	background-position: top left;
	background-size: cover;
	width: 22px;
	height: 22px;
	z-index: 90;
}



.click-cursor img {
	height: 22px;
	border: 0px; outline: 0; border-radius: 0;

}



.upstatus {
    background-color: #94afaf;
    border-radius: 99px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 7px;
}




/* ANIMATION */

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}


.pulseeffect {
    animation: shadow-pulse 1s infinite;
}

.pulseeffect2 {
    -webkit-animation: shadow-pulse 1s;
    -moz-animation: shadow-pulse 1s;
    animation: shadow-pulse 1s;
}

.roles {
	font-size: 0.9rem;
	height: 30px;
	margin-top: 35px;
	margin-bottom: 35px;
	color: white);
	text-align: left;

}

.bg-myob-logo {
	background-image: url("../img/myob.com.svg");
	background-position: left 20px top 20px;
	background-size: 50px;
	background-repeat: no-repeat;
}


.w-list-3 {
	margin-left: 50px;

}
.w-list-3-u {
	margin-left: 50px;

}

.w-list-3 li {
margin-bottom: 10px;
	margin-left: 20px;
	border-bottom: 0;
}

.w-list-3-u li {
margin-bottom: 0px;
	margin-left: 0px;
	border-bottom: 0;
}
.select-btn {
	display: inline;
color: white;
background-color: #00aa65;
border: solid 1px #00aa65;
	padding: 5px 8px;
	border-radius: 3px;
	font-size: 15px;
	opacity: .7;
	position: relative;
}

.btn-myob-green {
	display: inline-block;
	position: relative;
color: white;
background-color: #00aa65;
border: solid 1px #00aa65;
	padding: 5px 8px;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	opacity: .7;
text-transform: uppercase;

}

.select-btn2 {
	display: inline;
color: blue;
	text-decoration: underline;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 2px 10px;
	border-radius: 3px;
	font-size: 15px;
	opacity: .7;
	position: relative;
}

.select-btn3 {
	display: inline;
color: slategray;

	background-color: var(--gray7);
	border: 1px solid #ddd;
	padding: 8px 8px;
	border-radius: 4px;
	font-size: 15px;
	opacity: .7;
	position: relative;
	margin-right: 5px;
	vertical-align: middle;
}

.w-btn3 {
	display: inline-block;
color: #333;
  font-family: Arial, Helvetica, sans-serif;

	border-bottom: 3px solid var(--gray-300);
	background-color: var(--gray-50);

	padding: 8px 8px;
	border-radius: 4px;
	font-size: 15px;
font-weight: 600;
	position: relative;
	margin-right: 5px;
	vertical-align: middle;
}

.w-btn3 i {
	font-weight: 300!important;
		font-size: 16px;
	vertical-align: middle;
}


.w-textfield-status {
	display: inline-block;
color: slategray;
	background-color: var(--gray-50);
	min-width: 100px;
font-family: Arial, "sans serif";
	font-weight: 400;
	border-bottom: 1px solid #70809095;
	border-right: 1px solid var(--gray-200);
	border-left: 1px solid var(--gray-200);
	border-top: 1px solid var(--gray-200);
	padding: 8px 15px 8px 5px;
	font-size: 15px;

	position: relative;
	margin-right: 5px;
	vertical-align: middle;
	text-align: left;
	
}

.select-btn3 i {
	font-size: 20px;
	vertical-align: middle;
	

}

.step {
	display: inline;
	padding: 8px 10px;
	border: 0;s
	margin-right: 5px;
	background-color: var(--offwhite);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: var(--gray3);


}



/*
ol.w-list-3 li::marker {
            font-weight: bold;
            color: purple;
        }
*/



.ec {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 15px;
	font-size: 25px;
}

.ec img {
	filter: brightness(100);
} 

.colex {

	text-align: right;
	font-size: 13px;
	width: 100%;

	

}


#toggleAllBtn {
	text-decoration: none;
}

.navbar {
	opacity: 0.9;
}

.tooltip-x {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip-x .top {
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding: 5px 5px 5px 10px;
    color:#fafafa;
    background-color: var(--pteal1);
	border: 1px solid var(--pteal1);
    font-weight:normal;
    font-size:13px;
    border-radius:15px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; 
	opacity:0; 
	transition:opacity 0.8s;
	line-height: 1.2em;
	
}

.btn-btm-container .top { border-radius:90px!important;

}

.tooltip-x:hover .top {
    visibility:visible; opacity:1;
}

.tooltip-x .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip-x .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color: var(--pteal1);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.border-left-x {
		border-left: 3px solid #ccc;
}


.video-placeholder {
	border-radius: 8px;

	background-color: var(--myob);
	text-align: center;
	
}
.video-placeholder img {
	border-radius: 8px 8px 0 0;
}
.video-placeholder .video-placeholder-title {

	margin-top: 5px 5px;
		color: #fff;
	font-weight: 600;
		padding: 8px;
	font-size: 14px;
}


.video-container {
 
  width: 100%;
    margin: 20px auto;
    border: 1px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
	

}

video {
    width: 100%;
    height: auto;
    display: block;
}

/*
#myVideo {
    width: 300px;
    transition: width 0.3s ease-in-out;
}

#myVideo.expanded {
    width: 100%;
}
*/

  video::cue {
            color: white;
            background: rgba(0, 0, 0, 0.0);
            font-size: 18px;
            font-family: Arial, sans-serif;
      
            padding: 5px;
            border-radius: 5px;
        }

.btn2 {

	display: inline;
	padding: 8px 15px;	
    border: none;
	background-color: var(--bs-secondary-bg);
	cursor: pointer;
	margin: 0;
	gap:0;
	 transition: background-color 0.3s;
		width: 100%!important;
		border: 1px solid var(--pteal2);

}

.btn2.active {
    background-color: var(--pteal2);
	color: #fff; 

	/* 
	background: linear-gradient(90deg, #A130F5 0.69%, #EC0677 29.43%, #FF7300 58.17%);
	color: #fff;*/
}

.btn2:hover {
   
}

.w-nav-btn {
	margin: 0;
	padding: 7px 0px;
}



.w-border-bottom {
	border-bottom: 3px solid var(--pteal2);
}

.filter-div {
	margin: 20px 0;
	text-align: end;
}

a {
		text-decoration: none;
}
.controls {
	font-size: 13px;
	text-align: center;
	margin-top: -10px;
	
}

.controls a {
	color: var(--gray-200);
}

.controls a:hover {

}

.radius-left {
	border-radius: 8px 0 0;
}

.radius-right {
	border-radius: 0px 8px 0 0;
}

.timestamps a {
	font-size: 11px;
	border-bottom: 1px dotted #333;
	margin-left: 10px;
	
}

.sm-link {
	font-size: 13px;
}


.text-bottom {
            position: absolute;
            bottom: 0px;
            right: 15px;
            width: 100%;
            text-align: right;
            font-size: 16px;
            color: #333;
        }
div.sticky {
	position: sticky;
	top: 8px;
right: 0px;
	z-index: 99999;
}

.walk-con h2 {
	font-size: 27px;
}


.title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
	color: var(--pblue1);
	font-size: 24px;
}
.scrolled {
  background: transparent;

	margin-left: 0px;
	color: #fafafa;
	font-size: 23px;
}
.w-title {
	font-weight: bold;
	vertical-align: middle;
	font-size: 30px;
	
	

	
}

.t-column-1 {
  flex: 90%;





}

.t-column-2 {
  flex: 15%;
	text-align: right;
	padding-top: 5px;
}



.btn-back {
/*	position: absolute;
	right: 0px;
	top: 0px;
	height: 55px;
	line-height: 35px;
	
	background: transparent;
	color: #636363;
	border-radius: 0 0 8px 8px!important;
	background-color: var(--gray5);
	
	*/	

	
	
}

.w-list-ins-desc {
	width: 95%; margin: 20px auto;
}

i {
	vertical-align: middle;
}

.hide {
display: none;
}
.hide-l2 {
  display: none;

}
.hide-l3 {
	display: none;
}

.hide-temp {
  display: none;

}



/* Fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Apply the animation on page load */
/* body.fade-in {
	animation: fadeIn 0.7s ease-in-out;
} */


.my-checklist {
      list-style: none;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
    }

.my-checklist-item {
      display:flex;
      align-items: center;
      padding: 5px 0;

	
    }

.my-checkmark {
       min-width: 24px; /* Ensures the circle doesn't shrink */
  min-height: 24px;
  max-width: 24px; /* Locks the size */
  max-height: 24px;
  width: 24px;
  height: 24px;
      border-radius: 50%;
      border: 2px solid var(--pteal2);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      transition: background-color 0.3s, border-color 0.3s;
      cursor: pointer;
    }

.my-checkmark:after {
      content: '';
      width: 10px;
      height: 6px;
      border: solid white;
      border-width: 0px 0px 2px 2px;
      transform: rotate(-45deg);
        
      opacity: 0;
      transition: opacity 5.2s;
    }

.my-checkmark.checked {
      background-color: var(--pteal2);
    }

.my-checkmark.checked:after {
      opacity: 1;
    }

.faq-body {
	
	
	width: 95%;
	margin: 25px auto;
}

   

        .faqx {
            margin-bottom: 20px;
        }

   
        .faqx h2 {
            font-size: 16px;
			font-weight: 700;
       
			border-bottom: 1px solid var(--border);
			padding-bottom: 5px;
        }
        .faqx div p {
            margin: 5px 0;
			background-color: var(--bg-background-color);
        }



/* Styled List */
.steps-list {
    counter-reset: step-counter;
    padding-left: 0;
    list-style: none;
}

.steps-list p{
   border-bottom: 1px solid var(--border);
	padding-bottom: 10px;
	margin: 0px;
}

.steps-list li {
    position: relative;
    margin-left: 0px;
    padding: 10px 10px 5px 45px;
    color: var(--fg);
	margin-top: 5px;
border-bottom: 1px solid var(--border);
	
	
	
}

/* Custom Counter */
.steps-list li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 9px;
    background-color: var(--pteal1);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ww-list-2 {
	margin-left: 20px;
	

}


.ww-list-2 li {
	margin-bottom: 10px;
	margin-left: 20px;
	border-bottom: solid 1px var(--border);
	padding-bottom: 10px;
  color: var(--fg);

}


/* Styled List */
.w-list-2 {
    counter-reset: step-counter;
    padding-left: 0;
    list-style: none;
	margin-left: 20px;
	min-width: 350px;
}

.w-list-2 p{
  
	padding-bottom: 12px;
	margin: 0px;
}

.w-list-2 li {
    position: relative;
    margin-left: 0px;
    padding: 10px 10px 5px 45px;
    color: var(--fg);
	margin-top: 5px;

	border-bottom: 1px solid var(--border);
	
}

/* Custom Counter */
.w-list-2 li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: 10px;
    top: 22px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 9px;
    background-color: var(--pteal4);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}





















.bg-good {
	
	background-color: #f5f5f5;
	
}

.moreinfo-btn {
	 margin-top: -15px;
    margin-bottom: 10px;
	text-align: right;
	padding: 5px;
	font-size: 14px;
	margin-right: 10px;
}

.moreinfo {
	    margin: 0 auto;
	background-color: #fafafa;
	width: 100%;
	padding: 10px;
	border-radius: 0 0 8px 8px;

}

.bd-mode-toggle {
	z-index: 99999;
}

.offcanvas {
	z-index: 999999999;
}

.revchecklist {
	border: 1px solid var(--gray6);
	background-color: var(--gray7);
	margin-top: 20px;
	
}
.revchecklist h5 {
	margin: 10px 0 20px 0;
	color: var(--pteal2);


}
.list {
  display: flex;
  flex-direction: column;
	margin: 0 auto 20px;
  padding: 0;
  width: 95%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0.2);
  list-style: none;
  overflow: hidden;

}

.list-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ecf0f1;
  position: relative;
}

.list-item:last-child {
  border: 0;
}

.hidden-box {
  position: absolute;
  top: -9999px;
  left: -9999px;
  appearance: none;
  opacity: 0;
}

.check--label {
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.check--label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0 20px;
  border: 2px solid var(--pteal3);
  border-radius: 2px;
  cursor: pointer;
}

.check--label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-left: 1px solid #ecf0f1;
	
}

.check--label-text:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  /* background-color: var(--pteal3); */
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;

}

.hidden-box:checked + .check--label {
  background-color: #F9F9F9;
		text-decoration: line-through;
	
}

.hidden-box:checked + .check--label .check--label-box {
  background-color: var(--pteal3); 
}

.hidden-box:checked + .check--label .check--label-box:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 4px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hidden-box:checked + .check--label .check--label-text:after {
  width: 100%;
	 text-decoration: line-through;
}

.list-title {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px; 
	margin-left: 20px;
	color: #5d5d5d;
}

.text-align-right {
	text-align: right;
}

.btn-inline {
	display: inline;
	cursor: pointer;
	color: blue;
}

.bg-dark {
	background-color: var(--gray-dark)
	
}


.bg-sky {
  background-color: var(--skyblue, #D9F6FA);
}

.bg-darkblue {
  background-color: var(--darkblue, #002677);
}

.bg-orange {
  background-color: var(--orange, #FF612B);
}

.bg-warmwhite {
  background-color: #FBF9F4;
}

.bg-gray1 {
  background-color: var(--gray1, #222222);
}

.bg-gray170 {
  background-color: var(--gray170, #22222270);
}

.bg-gray2 {
  background-color: var(--gray2, #444444);
}

.bg-gray3 {
  background-color: var(--gray3, #636363);
}

.bg-gray4 {
  background-color: var(--gray4, #959595);
}

.bg-gray5 {
  background-color: var(--gray5, #B3B3B3);
}

.bg-gray6 {
  background-color: var(--gray6, #E0E0E0);
}

.bg-gray7 {
  background-color: var(--gray7, #F5F5F5);
}

.text-color {
  color: #5a5b5b;
}

.text-color-w {
  color: var(--textcolor-w, #fafafa);
}

.text-color-w90 {
  color: var(--textcolor-w, #fafafa90);
}



.main{
  width: 100%;
	max-width: 1280px;

  margin: 0 auto;
	animation: fadeIn 0.5s ease-in-out;
	position: relative;

	


}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  padding: 0.7rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px 4px 4px 4px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  background-color: var(--gray-700);
  color: #fff;
  
  
 
}

.btn:hover {
	background-blend-mode: overlay;
	background-color: var(--pteal2);
	color: #fff;
}




.cards {
	margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

}

.cards_item {
  display: flex;
  padding: 8px;
	 width: 25%;

}

/*
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
*/

.card {

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
	  background-color: var(--bg-secondary);
	



}

.card_content {
  padding: 1.5rem;

}.card_content ul {
	
	width: 100%;
	

}

.card_content li {
	
	width: 100%;
	

}


.card_title {

  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #5d5d5d;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


.home-container {
	  width: 100%;
	margin: 0 auto;
	
}


.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav {
width: 95%;

	
	

		
}

.logo img {
	position: relative;
	
	height: 40px;
	padding: 5px

}

.nav-main {
position: fixed;
	width: 100%;
	top: 0;
	
		background-color: #04696C;
			z-index: 1000;

height: 65px;
padding: 0 0 0 16px;

-webkit-box-sizing: border-box;
box-sizing: border-box;
	
}

.nav-container {
	 max-width: 80%;

  margin: 0 auto;
	line-height: 65px;
	
	
}

.i-card-title {
	font-size: 25px;
	font-weight: 700;

}



.padding-20 {
	padding: 20px;
}

.padding-20-top-40 {
	padding: 40px 20px 20px 20px;
}

.a-link a {
	
	
}

.colcon {
  display: flex;
}

.col-2-2-50 {
  flex: 50%;

}

.col-2-1-50 {
  flex: 50%;

	
}

.col-1 {
  flex: 70%;

}

.col-2 {
  flex: 30%;
  padding-right: 20px;
	text-align: right;
}

.col-3-1 {
  flex: 33%;

}

.col-3-2 {
  flex: 33%;
}

.col-3-3 {
  flex: 33%;
  padding-right: 20px;
	text-align: right;
}

.col-2-70 {
  flex: 70%;

}

.col-2-30 {
  flex: 30%;
  padding-right: 20px;
	text-align: right;
}


.col-3-3 {
  flex: 33%;
  padding-right: 20px;
	text-align: right;
}

.col-3-1-25, .col-3-3-25 {
  flex: 25%;
		text-align: right;
	align-content: flex-end;
}


.col-1-100{
	flex: 100%;

	margin: 0 auto;
	
}


.text-secondary {

}

.nav-fixed {
	position: fixed;
	width: 100%;
	margin: 0;
	z-index: 9999;
	top:0;
}

.text-secondary {
	color: var(--text-secondary);
}

.walk-con {

	width: 96%;
	margin: 0 auto;
}

.card-text {
	margin-top: 10px;
	color: var(--fg);	
	font-size: 15px;

}

.status {

	font-size: 10px;
	border-radius: 99px;
	background-color: var(--myob-p600);
	color: #fff;
	padding: 5px;
	min-width: 65px;
	display: inline;
	margin-left: 5px;
	
}

.logo {
	position: relative;
}

.btn-back-to-s {
	position: absolute;
	right: 10px;
	top:7px;
	height: 40px;
	line-height: 23px;
	border-radius: 8px;
	padding: 8px;
	font-size: 13px;
	
}


.tag {
	background-color: transparent;
	border: 1px solid var(--border);
  color: #eee;;
  padding: 2px 10px 2px 25px;
  border-radius: 99px;
	margin: 1px;
	text-align: left;
    
     background-image: url("../img/user-profile.svg");
    
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 5px center; 
      

	
}

.icon-user {
   

}





.iconDiv {

	font-size: 14px;
 vertical-align: middle;
  width: 56px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 5px 10px;
  border-radius: 99px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
overflow: hidden;  cursor: pointer;
	background-color: var(--gray-100);
	z-index: 999999;
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
	 /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}
.iconSVG {
  height: 30px;
  aspect-ratio: 1 / 1;
	 
}

.iconSVG i {
	justify-content: left;
	align-content: left;
	text-align: center;
	margin-top: 3px;

}

.iconSVG img {
  height: 20px;
	margin-right: 5px;
margin-top: 5px;
}


.iconDiv:hover,
.iconDiv:focus-visible {
  width: 140px;
  background-color: var(--pteal2);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
	z-index: 999999;
	color: white;
	
}
.iconDiv:hover i {
	filter: brightness(100);
}
.iconDiv:focus-visible {
  outline: 1px solid  var(--pteal4);
  outline-offset: 4px;
}
.iconDiv:active {
  opacity: 0.9;
}
.iconDiv::after {
  content: attr(tooltip);
  margin-left: 5px;
	color: var(--gray-100);
  animation: fadeIn 600ms linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navistyle {
		background-color: #fff;
	border-bottom: 3px solid var(--myob-accu);
}

.mdi-arrow-u-left-bottom {
	font-size: 18px;
}

.i-title {
	font-size: 40px;
	font-weight: bold;
	color: var(--myob-p1000);
}



.text-g-accu {
	background-image: linear-gradient(90deg, #A130F5 0.69%, #EC0677 29.43%, #FF7300 58.17%); -webkit-background-clip: text; background-clip: text; color: transparent;
}



[class*=dash]:after {
    content: "";
    display: none;
    width: 20px;
    height: 4px;
    margin: .39285em 0 .423em;
  /*  background: linear-gradient(90deg, #A130F5 0.69%, #EC0677 29.43%, #FF7300 58.17%); */
	    background: linear-gradient(90deg, #A130F5 0%, #EC0677 50%, #FF7300 100%);

	
	
	border-radius: 99px;
}

[class*=dash-1]:after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    margin: .09285em 0 .423em;
  /*  background: linear-gradient(90deg, #A130F5 0.69%, #EC0677 29.43%, #FF7300 58.17%); */
	    background: linear-gradient(90deg, #A130F5 0%, #EC0677 50%, #FF7300 100%);
	border-radius: 99px;
}
[class*=w-title]:after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    margin: .39885em 0 0 0; /* 0.993em */
  /*  background: linear-gradient(90deg, #A130F5 0.69%, #EC0677 29.43%, #FF7300 58.17%); */
	    background: linear-gradient(90deg, #A130F5 0%, #EC0677 50%, #FF7300 100%);
	border-radius: 99px;
}


.description {

	position: relative;
	text-align: left;
	
	margin-bottom: 70px;
	margin-top: 5px; 
	
	/*
	
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius:10px; */
    
}

.description p {
	margin: 8px 0 0 0;
}

.finance {
	font-size: 25px;
	font-weight: 700;
}

.header-y {
	 

	margin-bottom: 0px;
	margin-top: 50px;
	
		font-weight: 700;
		font-size: 25pt;
	color: #fff;
	line-spacing: -0.078rem;
	

}

.header-y p {

}





.myob-description {
	font-size: 16px;
	margin-top: 0px;
	width: 90%;
	color: #fff;
	
}

.p-border-bottom {
	border-bottom: 1px solid var(--gray5);
}

.glass {

	    background-color: rgba(0,0,0,0.5);	
	 backdrop-filter: blur(2px);

}

.announcement {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 250px;
	padding: 10px;
	border-radius: 10px;
	font-size: 13px;
	display: none;

}
        .notification-card {
			
			position: fixed;
			bottom: 10px;
			right: 50px;
			
            width: 300px;
            padding: 10px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-size: 13px;
			
  
			color: #fff;
			background-color: var(--myob-p900);
			z-index: 999999;
        }


      .impt-card {

		  margin: 20px auto;
            padding: 15px;
            border-radius: 10px;

		  width: 100%;
		  color: #333;
			background-color: #fafad2;
			z-index: 999;
        }

        .notification-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            font-size: 16px;
        
        }

        .close-btn {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .close-btn:hover {
            background: #e4e6eb;
        }

        .notification-content {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

 .impt-content {
            display: flex;
            align-items: center;
            margin-top: 0px;
        }

        .profile-pic {
            width: 40px;
  
      
            object-fit: cover;
            position: relative;
        }

     .note-pic {
            width: 30px;
		 height: 30px;
		 background-image: url("../img/impt.png");
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: center center;
		 
		 
            border-radius: 50%;
            object-fit: cover;
            position: relative;
        }

        .reaction-icon {
            width: 22px;
            height: 22px;
            position: absolute;
            bottom: 0;
            right: -4px;
            border-radius: 50%;
            background: white;
            padding: 2px;
			display: none;
        }

        .success-caption p {
           font-weight: bold;
   

        }

        .notification-text {
            flex-grow: 1;
            margin-left: 12px;

			font-size: 16px;
        } 

.impt-text {
            flex-grow: 1;
            margin-left: 12px;
		  font-weight: 600;
            color: #5d5d5d;

			font-size: 16px;
        }


        .notification-time {
            font-size: 14px;
            color: #1877F2;
            text-decoration: none;
			display: none;
        }

        .unread-dot {
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 50%;
			position: absolute;
			top: 10px;
			right: 10px;
        }

.musthide {
	display: none;
}

.text-sm-end {
	text-align: right;
}

.stepcontainer {
	margin: 5px;
	
}

.w-ec-details-desc {
	margin-left: 30px;
	text-align: left;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 6px;
	font-weight: 300;
	overflow: hidden;
		
	
}

.margin-left-10 {
	margin-left: 10px;
}

.icon-text-container {
            display: flex;
            align-items: right; /* Ensures vertical alignment */
            gap: 15px; /* Space between links */
	font-size: 13px;
		
	text-align: right;
		justify-content: right;
	margin-right: 20px;
	color: #aaa;

} .icon-text-container a {color: #aaa;}


.w-icon-text-container {
            display: inline-flex;
            gap: 15px; /* Space between links */
        }

        .icon-text {
            display: flex;
            align-items: center; /* Aligns icon and text */
            gap: 5px; /* Space between icon and text */
            text-decoration: none;
             /* Bootstrap's text-secondary color */
        }

.myob-logo-sticky {
	/*
	background-image: url("../img/MYOB-Acumatica-Logo.png");
	background-position: top left;
	background-size: 90px;
	background-repeat: no-repeat;
	width: 100px;
	height: 30px;
		vertical-align: middle;
	display: inline-flex;
	justify-content: center;
	align-content: center;*/
}

.url {
	background-color: var(--gray-200);
	min-width: 100px;
	padding-right: 8px;
	border-radius: 4px;
	display: inline-flex;
}

.url a {
	
}

.urlhttps {
	background-color: var(--gray-300);
	display: inline-flex;
	padding: 5px 6px 5px 6px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: var(--gray-600);
	margin-right: 4px;
	
}

.sso {
	width: 160px;
	
}

 table {
     
	 margin-top: 15px;
	  margin-bottom: 15px;
	 width: 99%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
			font-size: 14px;
        }

td {
	background-color: var(--bg);
	 color: var(--fg);
}
        th {
            background-color: var(--th);
            color: var(--fg);
        }
        .highlight {
            background-color: var(--bg);
            font-weight: bold;
        }
.btn-btm-container {
            position: fixed;
            bottom: 20px;
right: 50px;
            display: flex;
            gap: 10px;
            align-items: center;
            z-index: 1000;
	line-height: 25px;

        }

        /* Common button styles */
        .btn-btm {
            min-width: 60px;
			padding: 5px 10px;
			height: 40px;
		
			border-radius: 30px;
        font-size: 16px;
            color: white;
            background-color: var(--pteal2);
			text-align: center;
            border: none;
            
            cursor: pointer;
            transition: 0.3s ease-in-out;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        
            align-items: center;
		
          
        }

       .btn-btm:hover {
            transform: scale(1.1);
            background-color:var(--pteal1)
        }

.btn-btm:disabled {
            background-color: gray;
            cursor: not-allowed;
            transform: none;
        }


.back {
	background-image: url("../img/return.svg");
	background-size: cover;
	height: 50px;
	width: 50px;
}

.rotate-90 {
	transform: rotate(90deg)
}

.filter-white {
	filter: brightness(0);
}

.filter-invert {
	filter:invert(100);	
	justify-content: center;
	align-content: center;
}



.rotate-180 {
	transform: rotate(180deg)
}


        /* Modal Styling */
        .modal {
            display: none;
            position: fixed;
            z-index: 500;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .modal-content {
            
            margin: 0 auto;
            padding: 20px;
           
            text-align: center;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }
  .modal-content p a{
			color: var(--link);
         
        }


.modal1 {
	       background-color: var(--bg);
			color: var(--fg);
			width: 350px;
	margin: 15% auto;
	 border-radius: 8px;
}

.modal2 {
	       background-color: var(--bg);
			color: var(--fg);
			width: 350px;	
	margin: 15% auto;
	 border-radius: 8px;
}
.modal3 {
margin: 0 auto;
	 border-radius: 8px;
	max-width: 980px;
	width: 100%;
	 background-color: var(--pt4);
			color: var(--fg);
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	

}


#divvideo {
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--gray-500);
	display: none;
}


        .modal-buttons {
            margin-top: 15px;
        }
        .modal-buttons button {
            margin: 5px;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }
        .yes-btn {
            background-color: var(--pt3);
            color: white;
        }
        .no-btn {
            background-color: #f5f5f5;;
            color: #333;
        }


.btn-feed {

	position: absolute;
	right: 10px;
	top:7px;
	height: 40px;
	line-height: 23px;
	border-radius: 8px;
	padding: 8px;
	font-size: 13px;
	
}

.btn-top-container {
	        position: absolute;
            top: 13px;
            right: 0px;
            display: flex;
            gap: 10px;
            align-items: center;
           line-height: 30px;
}




/* Modal container */
.imgmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
  width: 100vw;
  height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    cursor: pointer; /* Close the modal when clicked */
	justify-content: center;
  align-items: center;
  z-index: 2147483647; /* very high */
	

}

/* Close button */
.imgmodal .close {
    position: absolute;
    top: 5%;
    right: 10%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Modal image */
.imgmodal-content {
    margin: 0 auto;
    display: block;
	 max-width: 90%;
  max-height: 90%;
	
	position: absolute;
		top: 50%;
	left: 50%;
			transform: translate(-50%,-50%); 
 
    animation: fadeIn 0.3s ease-in-out; /* Add a fade-in animation */
	border-radius: 15px;
}



.imgmodal-content-main {


	
}


.imgmodal-content-main img {

	width: 60%;

}

.clickable-image {
	cursor: pointer;
	
}

.imgdiv {
	margin-bottom: 30px;
	margin: 0 auto;
	align-content: center;
	text-align: center;

}
.imgdiv img {
	border-radius: 10px;
	border: 1px solid var(--gray-500);

}

.tbl {
	width: 98%;
}

.hover-btn:hover {
	background-color: var(--pteal2);
	color: #fff;
	cursor:pointer;
}
.hover-btn-1:hover {
	background-color: var(--pteal4);
	color: #fff;
	cursor:pointer;
}

.nextsteps {
	text-align: right;
	margin: 30px auto;
	color: #fff;
	
}

.w-btn-border-teal4 {
	border: 1px solid var(--pteal2);
}

.back-btn-div {
	display: block;
}

.prevsteps {

	text-align: left;
	margin: 30px auto;
	color: #fff;
	

}

.foot {
	border-radius: 0 0 8px 8px;
	background-color: var(--pteal1);
	padding: 0px 20px;
	
	
}

.hidden {
	display: none;
	
}

.hideonmob {
	
}

.bg-myob-highlight {
	background-color: var(--pgray1);
}

.text-left-navi {
	color: var(--gray-700);
	font-weight: 600;
}

.em-addinfo {
	font-style: italic;
	font-size: 14px;
	color: var(--gray-500);
	padding: 8px;
}

.uppercase {
	text-transform: uppercase;
}

.border-bottom {
	border-bottom: 1px solid #333;
}


/*
.status-inp {
    position: relative;
}

.status-inp::before {
  content: "In Progress";
  position: absolute;
  top: 3;
  right: 0;
  background-color: var(--gray-400);
  color: white;
  font-size: 0.75em;
  padding: 2px 6px;
  border-radius: 4px;
  transform: translateY(-100%);
}
*/
/* Apply to all classes that start with status-inp-, except 3 and 4 */
[class^="status-inp-"] {
  position: relative;
}

[class^="status-inp-"]::before {
  content: "In Progress";
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #888; /* Fallback if var(--gray-400) is not defined */
  color: white;
  font-size: 0.75em;
  padding: 2px 6px;
  border-radius: 4px;
  transform: translateY(-100%);
}



/*

[class^="status-inp-"]:not(.status-inp-3):not(.status-inp-4) {
  position: relative;
}

[class^="status-inp-"]:not(.status-inp-3):not(.status-inp-4)::before {
  content: "In Progress";
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #888; 
  color: white;
  font-size: 0.75em;
  padding: 2px 6px;
  border-radius: 4px;
  transform: translateY(-100%);
}

*/




    .under-container {
      padding: 2rem;
      border-radius: 16px;
      background-color: #fff;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      max-width: 500px;

    }

    .emoji {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

     .under-container h1 {
      margin: 0;
      font-size: 2rem;
      color: #333;
    }

     .under-container p {
      margin-top: 0.5rem;
      color: #666;
    }

    /* Optional: animated dots */
    .dots::after {
      content: '';
      display: inline-block;
      width: 1em;
      animation: dots 1.5s steps(5, end) infinite;
    }

    @keyframes dots {
      0%   { content: ''; }
      20%  { content: '.'; }
      40%  { content: '..'; }
      60%  { content: '...'; }
      80%  { content: '....'; }
      100% { content: '.....'; }
    }



.card-icon {
	text-align: left;
	margin-bottom: 10px;
	width: 70px;
}


.card-icon img {
	width: 60px;
}




.card-desc {
	margin-top: 0px;
	font-size: 15px;
	color: var(--gray-400);
	display: block;
	margin-left: 25px;
	margin-bottom: 10px;
	display: none;
}

.info-con {
	border-radius: 90px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
padding: 1px 9px; 
	background-color: var(--gray-300);
	color: white;
}

.card-item {
	display: block;

}



.whatyoullneed {
   
	width: 95%;
	margin: 50px auto;
}
.whatsnext {
    margin-bottom: 50px;
    background-color: var(--whatsnext);
    
      position: relative;
  padding: 1rem 2rem 2rem;
  overflow: hidden;
    
    border-radius: 12px;
    
}
.whatsnext img {
	width: 45px;
	vertical-align: middle;
}




.cursor {
	cursor: pointer;
}

#headerx {
		background-color: #343a40;

	color: #fff;
	font-weight: 600;
	margin-top: -2px;
	border-radius: 0px!important;

}
